label h1{
    width: 200px;
    height: auto;
    transition: .3s;
}

input{
    display: none;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition:max-height .3s ease;
   
}

input:checked + label .content{
    max-height: 200px;
}

input:checked + label h1{
    color: rgb(0, 127, 230);
    text-decoration:underline;
}

