body{
    height: 100vh;
    box-sizing: border-box;
}

.aleart{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.blue{
    border: solid 2px blue;
}

.green {
    border: solid 2px green;
}

.yellow{
    border: solid 2px yellow;
}

.red {
    border: solid 2px orange;
}

.btn{
    border: solid 2px gray;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}

.line{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 3px;
    background-color: gray;
    transform: translate(-50%, -50%) rotate(45deg);
}

.two{
    transform: translate(-50%, -50%) rotate(-45deg);
}